<%= content_for :page_name, 'new_shop' %>
<h1>New shop</h1>

<% form_for(@shop) do |f| %>
  <%= f.error_messages %>

  <% render :layout => '/layouts/form_field', :locals => {:label => 'Название' } do %>
    <%= f.text_field :name %>
  <% end %>  
  <% render :layout => '/layouts/form_field', :locals => {:label => 'Активный' } do %>
    <%= f.check_box :opened %>
  <% end %>  

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Магазины', shops_path %>
